<!-- File: Views/Pages/About.cshtml -->
@{
    ViewData["Title"] = "About Us";
}
<div class="row">
    <div class="col-md-8 mx-auto">
        <h1>About Us</h1>
        <p class="text-muted">
            We are dedicated to providing quality services to our users. Our website is built to be accessible on all devices.
        </p>
    </div>
</div>
