<!-- File: Views/Pages/Home.cshtml -->
@{
    ViewData["Title"] = "Home";
}
<div class="row">
    <div class="col-md-8 mx-auto text-center">
        <h1 class="display-4">Welcome to My Website</h1>
        <p class="lead">This is the home page of our website, designed to be fully responsive for all devices.</p>
    </div>
</div>
