<!-- File: Views/Pages/Terms.cshtml -->
@{
    ViewData["Title"] = "Terms and Conditions";
}
<div class="row">
    <div class="col-md-8 mx-auto">
        <h1>Terms and Conditions</h1>
        <p>
            By using our website, you agree to our terms and conditions. Please read them carefully before continuing.
        </p>
    </div>
</div>
